* {
  margin: 0;
  font-family: 'Segoe UI';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: black;
}
img{
  width: 100%;
  height: auto;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.MuiBadge-colorSecondary.MuiBadge-badge.MuiBadge-dot.MuiBadge-anchorOriginTopRightCircular.css-oeyo0e-MuiBadge-badge{
  animation: micOpen 2s ease-in-out infinite;
}
@keyframes micOpen {
  50%{
    transform: translate3d(0, -10px, 10px) scale(1.25);
    background-color: #669;
    box-shadow: 0 0 0 5px rgba(102, 102, 153,0.5);
  }
}