/* nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:  .5rem 1rem;
  border:0;
  position: fixed;
  width: 100%;
  top: 0;
  max-height: 5rem;
  background: #fff;
} */
/* .line{
  box-shadow: 0 1px 6px 0 rgb(32 33 36 / 28%);
  transition: .15s ease-in-out;
}
.logo {
  width: 150px;
  margin-right: 1rem;
}
nav .list_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}
nav .list_wrap ul{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex: 1;
  list-style-type: none;
}
nav .list_wrap ul li {
  display: inline-block;
  font-size: 0;
}
nav .list_wrap ul li a {
  display:inline-block;
  text-align:center;
  text-decoration: none;
  font-weight: lighter;
  font-size: 1.2rem;
  transition: 0.2s ease-in;
}
nav .list_wrap ul li a:hover{
  font-weight: bolder;
}
nav .list_wrap ul li a::before {
  display: block;
  content: attr(title);
  font-weight: bold;
  height: 0;
  overflow: hidden;
  visibility: hidden;
} */

.logo {
  width: 150px;
  margin-right: 1rem;
}